.App {
  text-align: center;
  padding-top: 36 px;
}

.App-link {
  color: #09d3ac;
}

/* SEARCH FORM */
.SearchForm-Warpper {
  display: flex;
  justify-content: center;
}

.BoxAlert {
  width: 50%;
  position: relative;
  left: 25%;
}

.MovieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MovieList-item{
  margin-bottom: 24px;
  width: 48%;
} 

/** Not found */
.Title_404{
  color: #000;
  font-size: 30px;
}